#mapa{
	height: 500px;
}

.posicao{
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
    font-weight: bold;
    color: midnightblue;
    border-top: 3px solid;
    border-radius: 3px 3px 0 0;
    border-top-color: royalblue;
    /* border-bottom: 1px solid; */
    border-bottom-color: royalblue;
    border-left: 1px solid;
    border-left-color: royalblue;
    border-right: 1px solid;
    border-right-color: royalblue;
    margin-bottom: 0px;
}

.meio{
	padding-top: 0px;
}

.bordamapa{
    position: relative;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 3px solid;
    border-color: royalblue;
}

.botaoCadastrar{
    padding-left: 150px;
    padding-right: 150px;
    border-top: 0px;
    border-radius: 0px 0px 45px 45px;
    background-color: royalblue;
    border-color: royalblue;	
}

.botaoCadastrar:hover{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
    background-color: midnightblue;
    border-color: royalblue;
}
