#mapa{
	height: 500px;
}

.posicao{
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    color: deepskyblue;
    border-top: 3px solid;
    border-top-color: dodgerblue;
    border-bottom: 1px solid;
    border-bottom-color: dodgerblue;
    border-left: 1px solid;
    border-left-color: dodgerblue;
    border-right: 1px solid;
    border-right-color: dodgerblue;
}

.meio{
	padding-top: 10px;
}
