#mapa{
	height: 500px;
}

.posicao{
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: center;
    font-family: fantasy;
    font-size: 35px;
    color: #FFFFFF;
    background-color: midnightblue;
    border-top: 3px solid;
    border-radius: 45px 45px 0 0;
    border-top-color: midnightblue;
    border-bottom-color: midnightblue;
    border-left: 1px solid;
    border-left-color: midnightblue;
    border-right: 1px solid;
    border-right-color: midnightblue;
    margin-bottom: 0px;
}

.meio{
	padding-top: 0px;
}

.bordamapa{
    position: relative;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 3px solid;
    border-color: midnightblue;
}

.botaoCadastrar{
    width: 100%;
    border: 0px !important;
    border-radius: 0px 0px 45px 45px;
    background-color: midnightblue;
    border-color: midnightblue;	
}

.botaoCadastrar:hover, .botaoCadastrar:active, .botaoCadastrar:focus{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.75);
    background-color: midnightblue !important;
}
